body {
    margin: 0;
    background-color: #FBF3D5;
    color: black;
}

h1 {
    text-align: center;
    background-color: darkblue;
    color: white;
}

#container a {
    color: white;
}

#container {
    background-color: white;
    padding: 20px;
}

img {
    width: 150px;
    display: block;
    margin: auto;
}

h2, h3, p {
    text-align: center;
}

#balik {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}