body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

a {
    text-decoration: none;
}

button {
    width: 150px;
    height: 150px;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.Van {
    background-image: url("JhonNiGHT.png");
}

.Jus {
    background-image: url("ParryEveryhing.png");
}

.Drew {
    background-image: url("TakesEverthings.png");
}

.Jar {
    background-image: url("Bulleyes.png");
}